<div class="container">
	<div [formGroup]="inputs">
		Gimme some dank memes.
		<div>
			<input formControlName="memeURL" placeholder="Image URL"
				(blur)="tryToLoadImage()"/>
		</div>

		<div>
			<input formControlName="memeDescription" placeholder="Caption"/>
		</div>

		<button (click)="submit()" type="submit" [disabled]="wasThereAnImageError ||
			!inputs.controls.memeURL.valid">
			SUBMIT
		</button>
	</div>

	<div>
		<div>
			<img *ngIf="imageURLForPreloading"
			[hidden]="wasThereAnImageError"
			(loadstart)="isImageLoading = true; wasThereAnImageError = false"
			(loadend)="isImageLoading = false" (error)="wasThereAnImageError = true"
			[src]="imageURLForPreloading" />
		</div>
		<div *ngIf="isImageLoading">
			Loading meme...
		</div>
		<div *ngIf="wasThereAnImageError">
			Error loading meme
		</div>
		<div class="caption">
			{{inputs.controls.memeDescription.value}}
		</div>
	</div>
</div>
