<div>
	<header-component [user]="user" (selectPage)="selectPage($event)"
		[currentPage]="currentPage">
	</header-component>

    <div *ngIf="loading">
        Checking login...
    </div>

	<meme-display *ngIf="currentPage == 'all'" [user]="user"
		[pageType]="currentPage">
	</meme-display>

	<meme-display *ngIf="currentPage == 'mine'" [user]="user"
		[pageType]="currentPage">
	</meme-display>

	<add-meme *ngIf="currentPage == 'add'" [user]="user"
		(memeSubmitted)="currentPage = 'mine'">
	</add-meme>

</div>
