:host {
	width: 100%;
	div {
		border-bottom: 1px solid black;
		margin-bottom: 1em;
	}

	.buttons-container {
		float: right;
		span, a {
			cursor: pointer;
			margin-left: 1em;
			margin-right: 1em;
		}
		.selected {
			font-weight: bold;
		}
		a {
			text-decoration: none;
		}
	}
}
