<div>
    <span class="site-name">MEMETEREST</span>
	<span class="buttons-container">
		<a *ngIf="!user?.twitterUsername" href="/auth/login">
			Log in with Twitter
		</a>
		<span *ngIf="user?.twitterUsername" (click)="selectPage.emit('all')"
			[ngClass]="{'selected': currentPage == 'all'}">
			All memes
		</span>
		<span *ngIf="user?.twitterUsername" (click)="selectPage.emit('mine')"
			[ngClass]="{'selected': currentPage == 'mine'}">
			My memes
		</span>
		<span *ngIf="user?.twitterUsername" (click)="selectPage.emit('add')"
			[ngClass]="{'selected': currentPage == 'add'}">
			Add
		</span>
		<a *ngIf="user?.twitterUsername" href="/logout">
			Log out
		</a>
	</span>
</div>
